:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary: 136 67% 50%;
  --primary-alt: 136 64% 30%;

  --background: 0 0% 100%;
  --background-alt: 0 0% 90%;

  --foreground: 219 29% 9%;
  --foreground-alt: 219 5% 27%;

  --seperator: 0 0% 85%;

  --rounded: 0.25rem;
  --rounded-big: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  min-height: 100vh;
}

ul,
ol {
  list-style-type: none;
  text-indent: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 10vh;
  width: min(90vw, 800px);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
